* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.table-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
}

.table-container .table {
  margin: 10px 0px;
  width: 100%;
  border: 1px solid #0081A7;
}

.table-container .table, .table-container .table td, .table-container .table th {
  text-align: left;
  border-collapse: collapse;
}

.table-container .table th {
  background-color: #0081A7;
  color: #FFF;
}

.table-container .table td, .table-container .table th {
  padding: 10px 15px;
}

.table-container .table tbody tr {
  border-bottom: 1px solid #0081A7;
}

.crimsom {
  background-color: #D80032;
  color: #FFF;
}

.crimsom:hover {
  background-color: #a50026;
}

.button {
  border: none;
  padding: 8px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.modal-backdrop {
  background-color: RGBA(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-backdrop.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade .5s;
          animation: fade .5s;
}

.modal-backdrop.dismiss {
  -webkit-animation: fade-out .5s;
          animation: fade-out .5s;
}

.modal-backdrop .modal {
  width: 400px;
  background-color: #FFF;
  min-height: 100px;
}

.modal-backdrop .modal .modal-header {
  background-color: #0081A7;
  color: #FFF;
  padding: 10px 10px;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-backdrop .modal .modal-header .modal-close {
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFF;
}

.modal-backdrop .modal .modal-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0px;
}

.form-group label {
  margin-bottom: 3px;
}

.form-group input {
  font-size: 1rem;
  padding: 5px;
  border-radius: 0;
  border: 1px solid #000;
  outline: none;
}

.form-group input:focus {
  border-color: #0081A7;
}

.action-link {
  padding: 0px 2px;
  color: #0081A7;
  text-decoration: none;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.errors {
  margin-bottom: 5px;
  list-style: none;
  border: 1px dotted #D80032;
}

.errors .error {
  margin: 5px;
  color: #D80032;
}
/*# sourceMappingURL=style.css.map */