* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$primary: #0081A7;
$crimsom: #D80032;

.app {
    width: 100vw;
    height: 100vh;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


.table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
    .table {
        margin: 10px 0px;
        width: 100%;
        border: 1px solid $primary;
    
        &, td, th {
           text-align: left; 
           border-collapse: collapse;
        }
    
        th {
            background-color: $primary;
            color: #FFF;
        }
    
        td,th {
            padding: 10px 15px;
        }

        tbody tr {
            border-bottom: 1px solid $primary;
        }
    }
}

.crimsom {
    background-color: $crimsom;
    color: #FFF;
}

.crimsom:hover {
    background-color: darken($crimsom, 10);
}

.button {
    border: none;
    padding: 8px 20px;
    border-radius: 3px;
    cursor: pointer;
}


.modal-backdrop {
    background-color: RGBA(0,0,0,.4);
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    display: none;
    align-items: center;
    justify-content: center;

    &.active {
        display: flex;
        animation: fade .5s;
    }

    &.dismiss {
        animation: fade-out .5s;
    }

    .modal {
        width: 400px;
        background-color: #FFF;
        min-height: 100px;

        .modal-header {
            background-color: $primary;
            color: #FFF;
            padding: 10px 10px;
            font-size: 1.1rem;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .modal-close {
                text-decoration: none;
                font-size: 1.5rem;
                color: #FFF;
            }
        }

        .modal-body {
            flex: 1;
            padding: 10px;
        }
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;

    label {
        margin-bottom: 3px;
    }

    input {
        font-size: 1rem;
        padding: 5px;
        border-radius: 0;
        border: 1px solid #000;
        outline: none;

        &:focus {
            border-color: $primary;
        }
    }
}

.action-link {
    padding: 0px 2px;
    color: $primary;
    text-decoration: none;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.errors {
    margin-bottom: 5px;
    list-style: none;

    border: 1px dotted $crimsom;

    .error {
        margin: 5px;
        color: $crimsom;
    }
}